---
// @ts-nocheck
import MainLayout from "../layouts/MainLayout.astro"
import Cast from "../components/Cast.astro"

// mood ophalen die ik met de url heb mee gegeven
export const prerender = false;
const mood = Astro.url.searchParams.get("mood")
console.log("mood in results:", mood)

const moodNaarGenre = {
	happy: 35,       // Comedy
	sad: 18,         // Drama
	romantic: 10749, // Romance
	energetic: 28,   // Action
	stressed: 16     // Animation
}

const genreId = moodNaarGenre[mood]

const base = "https://api.themoviedb.org/3"
const endpoint = "/discover/movie?with_genres=" + genreId + "&sort_by=popularity.desc&vote_average.gte=6"
const API_KEY = import.meta.env.TMDB_API_KEY
const url = base + endpoint + "&api_key=" + API_KEY

console.log("URL:", url);
// fetch naar de movies
const response = await fetch(url)
const data = await response.json()
// console.log(data.results[0])

// om de posters van tmdm op te halen aan de hand van een random getaal
// bron image oproepen: https://developer.themoviedb.org/docs/image-basics
// bron math.random: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
// bron math.floor: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/floor
const randomIndex = Math.floor(Math.random() * data.results.length)
const randomMovie = data.results[randomIndex]
const posterPath = randomMovie.poster_path
const posterUrl = "https://image.tmdb.org/t/p/w500" + posterPath

const backDrop = randomMovie.backdrop_path
const backDropUrl = "https://image.tmdb.org/t/p/original" + backDrop

// film informatie ophalen van de random film
const filmBeschrijving = randomMovie.overview
const filmTitel = randomMovie.title


// fetch naar de cast 
const endPointCast = "/movie/" + randomMovie.id + "/credits?" 
const urlCast = base + endPointCast + "&api_key=" + API_KEY
console.log(urlCast)
const responseCast = await fetch(urlCast)
const dataCast = await responseCast.json()

const customAnim = {
  old: {
    name: "bump",
    duration: "0.5s",
    easing: "ease-in",
    direction: "reverse",
  },
  new: {
    name: "bump",
    duration: "0.5s",
    easing: "ease-in",
  },
};

const customAnimBackwards = {
  old: {
    name: "bumpBackwards",
    duration: "0.5s",
    easing: "ease-in",
    direction: "reverse",
  },
  new: {
    name: "bumpBackwards",
    duration: "0.5s",
    easing: "ease-in",
  },
};

const customTransition = {
  forwards: customAnim,
  backwards: customAnimBackwards,
};

// console.log("API data:", data);
// console.log("Films:", data.results);


// testeb of ik de data van de genres kan ophalen van de API zodat ik die kan koppelen aan de moodNaarGenre object in de mood.astro
// const url = base + endpoint + "?api_key=" + API_KEY
// const response = await fetch(url)
// const data = await response.json()
// console.log(data)

// testen of ik de juiste genreId krijg bij een mood
// const geselecteerdeMood = "happy"
// const genreId = moodNaarGenre[geselecteerdeMood]
// console.log(genreId)
---

<MainLayout>
	<main>
		<article>
			<img src={backDropUrl} alt="">
			<div>
				<h1>Films voor mood: {mood}</h1>
				<img src={posterUrl} alt="">
				<div>
					<h2>{filmTitel}</h2>
					<p>{filmBeschrijving}</p>
				</div>
			</div>
		</article>

		<section>
			<h2>Cast</h2>
			<ul class="cast-carousel">
					{dataCast.cast.map(function(castMember){
						return (
							<Cast id={castMember.id} imageUrl={castMember.profile_path ? "https://image.tmdb.org/t/p/w500" + castMember.profile_path : "/images/no-img.png"} title={castMember.name} text={"Playing " +castMember.character} transitionName={"cast" + castMember.id} customTransition={customTransition}/>
						)
					})}
			</ul>
		</section>
	</main>
</MainLayout>

<script>
	// @ts-nocheck
	const carousel = document.querySelector(".cast-carousel")
	const cards = document.querySelectorAll(".cast-card")

	function updateCarousel() {
    const carouselCenter = carousel.scrollLeft + carousel.offsetWidth / 2

    cards.forEach(function (card) {
      const cardCenter = card.offsetLeft + card.offsetWidth / 2
      const distance = Math.abs(carouselCenter - cardCenter)

      const maxDistance = carousel.offsetWidth / 2
      const progress = Math.min(distance / maxDistance, 1)

      const scale = 1 - progress * 0.25
      const z = -progress * 180

      card.animate(
        {
          transform: `scale(${scale}) translateZ(${z}px)`
        },
        {
          duration: 300,
          fill: "forwards",
          easing: "ease-out"
        }
      )
    })
  }

  carousel.addEventListener("scroll", updateCarousel)
  window.addEventListener("load", updateCarousel)
	
</script>

<style>
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	article {
		width: 100%;
		height: fit-content;

		display: grid;
		grid-template-rows: 1fr;

		> img {
			grid-area: 1/1;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		h1 {
			height: fit-content;
			grid-column: 1 / span 2;
			align-self: center;
		}

		> div {
			grid-area: 1/1;
			margin: 5rem;

			display: grid;
			grid-template-columns: 25vw 1fr;
			grid-template-rows: 1fr auto;

			img {
				width: 25vw;
				height: auto;
				border-radius: 0.5rem;
				object-fit: cover;
				grid-column: 1;
				grid-row: 2 / span 2;
			}

			div {
				grid-column: 2;
				grid-row: 2 / span 2;
				height: fit-content;
			}

			h2 {
				height: fit-content;
			}

			p {
				height: fit-content;
			}


		}
	}

	.cast-carousel {
		width: 20vw;
		height: auto;
		display: flex;
		flex-direction: row;
		overflow: scroll;
		perspective: 1000px;
		gap: 2rem;
		/* scroll-snap-type: x mandatory; */
		padding: 2rem 40vw;
		width: 100%;
		height: fit-content;


			.cast-card {
				width: 20vw;
  				flex: 0 0 20vw;
				display: grid;
				grid-template-rows: 33vh fit-content fit-content;
				scroll-snap-align: center;
  				transform-origin: center center;
				
				h2 {
					grid-row: 2;
					height: fit-content;
				}

				img {
					width: 100%;
  					height: 33vh;
					border-radius: 8px;
					grid-area: 1/1;
					object-fit: cover;
					grid-row: 1;
				}

				p {
					grid-row: 3;
				}
			}

		}
</style>
